.company-container {
  padding: 30px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 12px 36px rgba(0, 0, 0, 0.1);
  }
}

.go-back-button {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 600;
  margin: 10px 0;
  padding: 5px 10px;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;

  &:hover {
    color: var(--primary-color);
    transform: translateX(-3px);
  }

  &:active {
    transform: translateX(0);
  }
}

.company-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 800px;
  margin: 1.5rem auto;
  padding: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: var(--white);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.company-info div {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

input,
textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

input[readonly],
textarea[readonly] {
  background: #e9ecef;
  cursor: not-allowed;
}

input:focus,
textarea:focus {
  border-color: var(--primary-color);
  outline: none;
}

textarea {
  resize: none;
  height: 100px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-left: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: var(--white);
  transition: 0.3s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.owner-actions-container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

button {
  &:hover {
    transform: scale(1.05);
  }
}

.save-changes-button {
  background-color: #ffa500;
  color: white;
  font-weight: bold;

  &:hover {
    background-color: #e68900;
  }
}

.delete-company-button {
  background-color: #f44336;
  color: white;
  font-weight: bold;

  &:hover {
    background-color: #d32f2f;
  }
}

.edit-company-button {
  background-color: #4caf50;
  color: white;
  font-weight: bold;

  &:hover {
    background-color: #45a049;
  }
}

@media (max-width: 600px) {
  .company-info {
    width: 90%;
    padding: 1rem;
  }

  button {
    width: 100%;
    margin-top: 10px;
  }
}
