<div class="company-wrapper">
  <button (click)="goBack()" class="go-back-button">&larr; Back</button>

  @if(!isEditing && company) {
    <div class="company-container">
      <p><strong>ID:</strong> {{ company.id }}</p>
      <p><strong>Name:</strong> {{ company.name }}</p>
      <p><strong>Description:</strong> {{ company.description }}</p>
      <p><strong>Visibility:</strong> {{ company.isVisible ? "Visible" : "Hidden" }}</p>
      <p><strong>Created At:</strong> {{ company.createdAt | date }}</p>
      <p><strong>Updated At:</strong> {{ company.updatedAt | date }}</p>

      @if(isOwner) {
        <div class="owner-actions-container">
          <button class="edit-company-button" (click)="editCompany()">Edit</button>
          <button class="delete-company-button" (click)="deleteCompany()">Delete</button>
        </div>
      }
    </div>
  }

  @if(isEditing && company) {
    <div class="form-container">
      <form (ngSubmit)="saveChanges()">
        <div class="company-info">
          <div>
            <label for="companyName">Company Name:</label>
            <input id="companyName" [(ngModel)]="editedCompany.name" name="companyName" required [readonly]="!isOwner" />
          </div>
          <div>
            <label for="companyDescription">Description:</label>
            <textarea id="companyDescription" [(ngModel)]="editedCompany.description" name="companyDescription" [readonly]="!isOwner"></textarea>
          </div>
          <div>
            <label for="companyVisibility">Visibility:</label>
            <label class="switch">
              <input type="checkbox" [(ngModel)]="editedCompany.isVisible" [disabled]="!isOwner" />
              <span class="slider"></span>
            </label>
            <span>{{ editedCompany.isVisible ? "Visible" : "Hidden" }}</span>
          </div>
        </div>

        @if(isOwner) {
          <div class="owner-actions-container">
            <button type="submit" class="save-changes-button">Save Changes</button>
            <button type="button" class="delete-company-button" (click)="deleteCompany()">Delete Company</button>
          </div>
        }
      </form>
    </div>
  }
</div>
