<div class="container">
  <h1>Hello!</h1>
<nav>
  <ul>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/users/register">Register User</a></li>
    <li><a routerLink="/users/login">Login</a></li>
    <li><a routerLink="/users/list">User List</a></li>
    <li><a routerLink="/companies">Companies</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
<app-modal [isVisible]="isModalVisible" (close)="closeModal()">
  <h2>Modal Title</h2>
  <p>This is an example modal window.</p>
</app-modal>
</div>
